* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}


/*
    DOCUMENTACIÓN

    aparence: apariencia del elemento
    element position: posición del elemento mismo
    items position: posición de los elementos hijo
*/
